
@import "compass";
@import "bootstrap";
@import "font-awesome";

@import "web-fonts";
//@import url(web-fonts-url(("Open Sans": ("300","300i","400","400i","600","600i","700","700i","800","800i"))));

/* The modules directory is reserved for Sass code that doesn't cause Sass to actually output CSS. Things like mixin declarations, functions, and variables.  */

@import "modules/colors";

// Partials
@import "partials/base";
@import "partials/buttons";
@import "partials/typography";
@import "partials/navs";
@import "partials/backgrounds";
@import "partials/margins";

// Grid 
@import "grid/unsemantic-grid-responsive";

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
  background-color: $background-color;
  overflow-x: hidden;
}

hr {
  border-color: $base-color;
}

.width100 {
  width: 100%;
  height: auto;
}

img.resizable {
      width: 100%;
      height: auto;
    }

a {
  &:hover {
    img {
      opacity: 0.7;
    }
  }

  &:focus {
    img {
      opacity: 1;
    }
  }
}
.community-media-box {

  background-color: #fff;
  padding: 30px;
  text-align: center;

  .img-container {
    width: 100%;
    overflow: hidden;
  }

  h4 {
    width: 100%;
  }
  p {
    width: 100%;
  }
  a {
    width: 100%;
  }
}

.learn-more {
  color: $green-color;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 18px;
  line-height: 28px;

  &:hover {
    color: $green-accent-color;
    text-decoration: none;
  }
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;

    img {
      width: 100%;
      height: auto;
    }
}

.swiper-container2 {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
}

.swiper-pagination-bullet-active {
  background-color: $green-color!important;
}

.footer-nav-container {
  text-align: right;
}

.vertical-center {
  text-align: center;
  padding-top: 50px;

  img {
    width: 100%;
    height: auto;
  }
}

.vertical-left {
  text-align: left;
  padding-top: 70px;
}


.ingredients-list {
  padding: 5px 0;

  li {
    font-size: 30px;
    padding: 10px 0;
    line-height:48px;

    small {
      font-size: 14px;
      font-weight: $regular;
    }

    i {
      padding-top: 18px;
      color: #9b6b45;
    }
  }
}

.position-center {
  display: block;
  margin: 0 auto;
}

video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/video-background-blue.jpg) center center no-repeat;
    background-size: cover; 
}

.top-index-row {
  background-image: url("../images/backgrounds/top01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding-bottom: 100px;
  background-color: #2883ba;

  &.no-background {
    background-image: none;
    background-color: $green-22-color;
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      background-image: url("../images/backgrounds/top01@2x.jpg");
    }
}

@media only screen and (min-width: 998px) {
  .fixed-size-296-on-desktop {
    width: 296px;
  }
}

@media only screen and (min-width: 1690px) {
  .top-index-row {
    min-height: 660px;
  }
}

@media only screen and (min-width: 1390px) and (max-width: 1689px) {
  .top-index-row {
    min-height: 560px;
  }
}

@media only screen and (max-width: 767px) {
    .footer-nav-container {
      text-align: center;
    }
    .footer-nav {
      text-align: center;
    }
    .vertical-center {
      padding-top: 20px;
    }
    .vertical-left {
      text-align: center;

      img {
        width: 60%;
        height: auto;
      }
    }
  }