// buttons

%background {
  background-repeat: no-repeat;
  background-position: top center;
}

%login {
    background-image: url("../images/bckgr-login-page.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $base-color;
    background-size: 1920px 1334px;
    padding-bottom: 200px;
    min-height: 650px;

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/bckgr-login-page@2x.jpg");
      }
  }

%paper-cut {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 1920px 128px;
    margin-top: -128px;
    height: 128px;
  }

%top-right {

    background-image: url("../images/backgrounds/PaperCut-Upper-Reverse.png");

    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/backgrounds/PaperCut-Upper-Reverse.png");
      }
  }


.background {
  &-login {
    @extend %background;
    @extend %login;
  }

  &-paper-cut-tr {
    @extend %paper-cut;
    @extend %top-right;
  }
}


.background-paper {
  background-image: url("../images/backgrounds/Paper-Pattern-480px.jpg");
  background-repeat: repeat;
  background-position: top left;
}

.background-brown {
  background-color: $brown-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-green {
  background-color: $green-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-apple {
  background-color: $apple-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-coconut {
  background-color: $coconut-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-plum {
  background-color: $plum-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-chia {
  background-color: $chia-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-maca {
  background-color: $maca-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.background-acerola {
  background-color: $acerola-color;
  background-image: url("../images/backgrounds/vintage.png");
  background-repeat: repeat;
  background-position: top left;
}

.livity-stamp {
  background-image: url("../images/backgrounds/livity-footer.png");
  background-repeat: no-repeat;
  background-position: bottom left;

  @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("../images/backgrounds/livity-footer@2x.png");
      }
}