// Font weights
$thin: 300;
$light: 400;
$regular: 600;
$bold: 800;

@font-face {
    font-family: "dinpro";
    src: url(../fonts/din/DINPRO.OTF) format("opentype");
}

@font-face {
    font-family: "dinpro";
    font-weight: 800;
    src: url(../fonts/din/DINPRO-BLACK.OTF) format("opentype");
}

@font-face {
    font-family: "dinpro";
    font-weight: 600;
    src: url(../fonts/din/DINPRO-BOLD.OTF) format("opentype");
}

@font-face {
    font-family: "400";
    font-weight: bold;
    src: url(../fonts/din/DINPRO-MEDIUM.OTF) format("opentype");
}

@font-face {
    font-family: "dinpro";
    font-weight: 300;
    src: url(../fonts/din/DINPRO-LIGHT.OTF) format("opentype");
}

// Base Font
$base-font-family:  'dinpro', sans-serif;
$base-font-weight: $light;
$base-font-size: 16px;
$base-line-height: 26px;

// Accent Font

@font-face {
    font-family: "love-of-thunder";
    src: url(../fonts/thunder/a-love-of-thunder.ttf) format("truetype");
}

$accent-font-family: 'love-of-thunder', sans-serif;
$base-font-weight: $light;
$base-font-size: 16px;
$base-line-height: 26px;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

//Borders
$border-radius: 0px;