/* Breadcrumbs
/* ========================================================================== */

.breadcrumbs-row {
  background-color: #eee;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;

  .breadcrumb {
    position: relative;
    padding: 5px 0;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
    background-color: transparent;

    a {
      color: #9ea6b1;
    }

    li {
      margin-bottom: 10px;
    }
  }
}
.breadcrumbs-row 
.breadcrumbs-row .breadcrumb 
.breadcrumbs-row .breadcrumb a:hover {
  border-bottom: solid 1px #14181c;
}
.breadcrumbs-row .breadcrumb 
.breadcrumbs-row .breadcrumb > li + li:before {
  content: '\f105 ';
  font-family: 'FontAwesome';
}
.breadcrumbs-row .breadcrumb > .active {
  color: #a5abb7;
}
.breadcrumbs-row .page-header {
  padding: 0;
  margin: 10px 0 0 0;
  border: none;
}
.breadcrumbs-row .page-header h1,
.breadcrumbs-row .page-header h1 small {
  color: #9ea6b1;
  text-transform: uppercase;
  font-weight: 300;
}
.breadcrumbs-row .page-header h1 {
  margin: 0;
  padding: 0;
}

.breadcrumbs-row .breadcrumb li {
  margin: 0px;
}

.breadcrumb {
    background-color: $base-10-color;
    border-radius: $border-radius;
    margin-bottom: 0px;
    padding: 7px 15px;
    text-align: right;

    li.active {
        font-weight: $bold;
        color: $base-color;
    }

    a {
        color: $brand-color;

        &:hover {
            color: $base-color;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 992px) {
    .breadcrumb {
        text-align: center;
    }
}
