// buttons

%button {
    border-radius: $border-radius;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    opacity: 1;
    line-height: 28px;
    height: auto;
    padding: 10px 60px;

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;

    .fa {
        margin-right: 10px;
        font-size: 1.5em;
    }
  }

%primary-button {
    background-color: $green-accent-color;
    color: $white-color;
    border: 1px solid $green-accent-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $green-dark-color;
        color: $white-color;
        border: 1px solid $green-dark-color;
    }
  }

%brown-button {
    background-color: $brown-color;
    color: $white-color;
    border: 1px solid $brown-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $brown-dark-color;
        color: $white-color;
        border: 1px solid $brown-color;
    }
  }

%green-button {
    background-color: $green-color;
    color: $white-color;
    border: 1px solid $green-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $green-dark-color;
        color: $white-color;
        border: 1px solid $green-color;
    }
  }

%default-button {
    background-color: $base-color;
    color: $white-color;
    border: 1px solid $base-color;
    
    &:hover,
    &:focus,
    &.focus {
        background-color: $base-dark-color;
        color: $white-color;
        border: 1px solid $base-color;
    }
  }

%white-button {
    background-color: transparent;
    color: $base-88-color;
    border: 1px solid $base-88-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $base-color;
        color: $white-color;
        border: 1px solid $white-color;
    }
  }

%coconut-button {
    background-color: $coconut-color;
    color: $white-88-color;
    border: 1px solid $coconut-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $coconut-dark-color;
        color: $white-color;
        border: 1px solid $coconut-dark-color;
    }
  }

%apple-button {
    background-color: $apple-color;
    color: $white-88-color;
    border: 1px solid $apple-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $apple-dark-color;
        color: $white-color;
        border: 1px solid $apple-dark-color;
    }
  }

%maca-button {
    background-color: $maca-color;
    color: $white-88-color;
    border: 1px solid $maca-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $maca-dark-color;
        color: $white-color;
        border: 1px solid $maca-dark-color;
    }
  }

%chia-button {
    background-color: $chia-color;
    color: $white-88-color;
    border: 1px solid $chia-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $chia-dark-color;
        color: $white-color;
        border: 1px solid $chia-dark-color;
    }
  }

%plum-button {
    background-color: $plum-color;
    color: $white-88-color;
    border: 1px solid $plum-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $plum-dark-color;
        color: $white-color;
        border: 1px solid $plum-dark-color;
    }
  }

%acerola-button {
    background-color: $acerola-color;
    color: $white-88-color;
    border: 1px solid $acerola-color;

    &:hover,
    &:focus,
    &.focus {
        background-color: $acerola-dark-color;
        color: $white-color;
        border: 1px solid $acerola-dark-color;
    }
  }


.btn {
  &-primary {
    @extend %button;
    @extend %primary-button;
  }
  &-default {
    @extend %button;
    @extend %default-button;
  }
  &-white {
    @extend %button;
    @extend %white-button;
  }
  &-brown {
    @extend %button;
    @extend %brown-button;
  }
  &-green {
    @extend %button;
    @extend %green-button;
  }
  &-coconut {
    @extend %button;
    @extend %coconut-button;
  }
  &-apple {
    @extend %button;
    @extend %apple-button;
  }
  &-plum {
    @extend %button;
    @extend %plum-button;
  }
  &-maca {
    @extend %button;
    @extend %maca-button;
  }
  &-chia {
    @extend %button;
    @extend %chia-button;
  }
  &-acerola {
    @extend %button;
    @extend %acerola-button;
  }
}

.btn-big {
    padding: 20px;
}

.btn-huge {
    padding: 25px 60px;
    font-size: 16px;
}

.btn-small {
    font-size: 12px;
    line-height: 35px;
    max-height: 35px;
    padding: 0 15px;
}