.navbar-collapse {
	padding: 0px;
	margin: 0px;
}

.navbar-nav {

	background-color: $green-color;
	margin: 0px;
	padding-top: 100px;

	> li {

		&.social {
			text-align: center;

			> a {
				display: inline-block;

				img {
					width: 45px;
				}
			}
		}
		> a {
			text-align: center;
			font-family: $accent-font-family;
			text-transform: uppercase;
			color: $white-88-color;
			font-size: 28px;
			line-height: 28px;
			padding: 30px;

			&:hover,
			&:focus {
				color: $green-accent-color;
				background-color: $green-dark-color;
			}

			&.active {
				color: $green-accent-color;
			}
		}
	}
}

.footer-nav {

	display: inline-block;
	padding-bottom: 10px;
	text-align: right;

	li {

		display: inline-block;

		> a {
			display: inline-block;
			font-weight: $bold;
			text-transform: uppercase;
			color: $brown-color;

			&:hover {
				background: none;
				color: $green-color;
			}

			img {
				width: 45px;
			}
		}
	}
}

.navbar-header {
  float: none;
  position: absolute;
  width: 100%;
  top: 0px;
}

#navbar-close {
	color: #fff;
	font-size: 2em;
}
.navbar-toggle {
  display: block;
  margin-top: 18px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav >li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}