.panel {
  border-radius: $border-radius;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.22);

  &.brand {

    border-color: $brand-dark-color;

    .panel-body {
      background-color: $brand-color;  
    }

    .panel-footer {
        background-color: $brand-dark-color;
        border-color: $brand-dark-color;
    }
  }

  &.accent {
    border-color: $accent-dark-color;

    .panel-body {
      background-color: $accent-color;  
    }

    .panel-footer {
        background-color: $accent-dark-color;
        border-color: $accent-dark-color;
    }
  }

  &.green {
    border-color: $green-dark-color;

    .panel-body {
      background-color: $green-color;  
    }

    .panel-footer {
        background-color: $green-dark-color;
        border-color: $green-dark-color;
    }
  }

  &.white {
    border-color: $base-dark-color;

    .panel-body {
      background-color: $white-color;  

      &.special {

        .fa {
          color: $base-44-color;
        }

        h4 {
          color: $base-88-color;
        }

        .info {

          h3,
          h4,
          h5 {
            color: $base-88-color;
          }
        }
      }
    }

    .panel-footer {
        background-color: $white-color;
        border-color: $base-dark-color;
    }
  }

  &.base {
    border-color: $base-dark-color;

    .panel-body {
      background-color: $base-color;  
    }

    .panel-footer {
        background-color: $base-dark-color;
        border-color: $base-dark-color;
    }
  }

  .panel-title {
    font-weight: $thin;
    text-transform: uppercase;
    font-size: 20px;
  }

  .panel-heading {
    padding: 20px 25px;
  }

  .panel-body {
    font-weight: $thin;
    padding: 25px;

    &.with-scroll {
      overflow-y: scroll;
      height: 458px;
    }

    &.special {

      padding: 25px;

      .fa {
        font-size: 5em;
        float: left;
        width: 40%;
        color: $white-44-color;
      }

      h4 {
        color: $white-88-color;
        padding: 0px;
        margin: 0px;
        border: none;
      }

      .info {
        float: right;
        text-align: right;
        width: 60%;

        h3,
        h4,
        h5 {
          color: $white-88-color;
          text-align: right;
          padding: 0px;
          margin: 0px;
          border: none;
        }

        h3,h4 {
          font-weight: $bold;
        }
        h5 {
          height: 40px;
          line-height: 21px;
        }
      }
    }

/*     h5 {
      border-bottom: 1px solid $base-88-color;
      padding: 0 0 10px 0;
      margin: 0px;
      text-align: center
    } */

    .label {
      border-radius: $border-radius;
      white-space: normal;
    }
  }

  &.panel-default {

    border-color: $base-dark-color;

    > .panel-heading {
      background-color: $base-color;;
      border-color: $base-dark-color;
      color: $white-88-color;
      border-radius: $border-radius;
    }
  }

  &.panel-green {

    border-color: $green-dark-color;

    > .panel-heading {
      background-color: $green-color;;
      border-color: $green-dark-color;
      color: $white-88-color;
      border-radius: $border-radius;
    }
  }

  &.panel-accent {

    border-color: $accent-dark-color;

    > .panel-heading {
      background-color: $accent-color;;
      border-color: $accent-dark-color;
      color: $white-88-color;
      border-radius: $border-radius;
    }
  }

  .panel-footer {
    border-radius: $border-radius;
    min-height: 70px;
  }

}