
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  border-color: $accent-88-color $accent-88-color white;
}

.nav-tabs {

  border-bottom: 1px solid $accent-88-color;;

  li {

    float: right;

    &.active, 
    &:hover,
    &:focus {
      a {
        border-color: $accent-88-color $accent-88-color white;
        color: $accent-88-color;

        &:hover {
          background-color: $accent-88-color;
          color: white;
        }
      }
    }

    a {

      border-radius: $border-radius;
      color: $base-44-color;
      outline: none;
      text-transform: uppercase;
      font-weight: $regular;

      .fa {
        margin-right: 10px;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    .list-group {

      .list-group-item {

        padding-bottom: 20px;
        border-bottom: 1px solid $base-44-color;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid $base-44-color;
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 20px;

        &.unread {
          background-color: $brand-10-color;
          font-weight: $light;
          border-bottom-color: transparent;
          border-right-color: transparent;
        }

        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-child {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }


      .title {
        margin-right: 5px;
        font-weight: $regular;
        display: block;

        &:hover {
          text-decoration: none;
        }
      }

      .text {
        display: block;
      }

      time {
        font-size: 12px;
        font-style: italic;
        text-align: right;
        display: block;
        margin-bottom: 10px;
      }

      .attachment {
        display: inline-block;
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid $base-88-color;
          color: $base-88-color;
          text-decoration: none;
        }

        .fa {
          margin-right: 10px;
        }
      }
    }
  }
}