    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);



.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.team-members {
  text-align: center;
  padding: 80px 0 80px;
  background-color: #efefef;
}

.team-members .common-member {
  background-color: #fff;
  border: 5px solid $white-color;
  box-shadow: -5px 5px 0 $brand-color;
  transform: translate(5px, -5px);
}
.team-members .common-member figure {
  overflow: hidden;
  width: 100%;
	height: 320px;
}

.team-members img {
	width: 100%;
	height: auto;
}

.team-members .common-member h4 {
  margin: 0px;
}

.team-members .common-member .text-content {
  padding: 25px;
}
.team-members.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.team-members.doctors-var-two .slogan-section {
  text-align: left;
}
.team-members.doctors-var-two .common-member {
  background-color: transparent;
}
.team-members.doctors-var-two .common-member .for-border {
  display: none;
}
.team-members.doctors-var-two .common-member .text-content {
  padding: 20px 0 20px;
}
.team-members.doctors-var-two .text-center {
  text-align: left;
}

.slogan-section {
	margin-bottom: 50px;
	text-align: center;
}

.team-members .common-member .for-border {
	margin-bottom: 20px;
}

.team-members .common-member h4 small {
	color: $brand-color;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
}

.team-members .common-member ul{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	z-index: 1;
}

.team-members .common-member li a {
	background: $brand-color;
	color: white;
	padding: 20px;
  border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.33);

  i {
      width: 20px;
      height: 20px;
      line-height: 20px;
      }

  &:hover {
    background: $brand-dark-color;
    border: 5px solid rgba(255, 255, 255, 0.5);
  }
}


.doc-img{


	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}



.doc-item:hover .doc-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.doc-item:hover .social-lists{
	opacity: 1;
}


/*=============== //Home-team ===============*/