h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.3;

	&.apple {
	  color: $apple-color;
	}

	&.coconut {
	  color: $coconut-color;
	}

	&.plum {
	  color: $plum-color;
	}

	&.chia {
	  color: $chia-color;
	}

	&.maca {
	  color: $maca-color;
	}

	&.acerola {
	  color: $acerola-color;
	}
}

%underline {
    border-bottom: 1px solid $green-88-color;
    border-radius: $border-radius;
    color: $green-color;
    padding: 0 0 0px 0;
  }

h1 {
	font-size: 36px;
	font-family: $accent-font-family;
	color: $black-88-color;
	text-transform:uppercase;

	big {
		font-size: 100px;
		line-height: 80px;
	}

	&.underline {
		@extend %underline;
	}

	&.white {
		color: $white-color;
	}

	&.green {
		color: $green-color;
	}

	&.brown {
		color: $brown-color;
	}
}

h2 {
	font-size: 60px;
	font-family: $accent-font-family;
	color: $brown-color;
	margin-top: 0px;
	margin-bottom: 30px;
	text-transform: uppercase;

	green {
		color: $green-color;
	}

	accent {
		opacity: 0.22;
	}

	&.special {
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 58px;
	}

	&.small-line-height {
		line-height: 48px;
	}

	&.underline {
		@extend %underline;
	}

	&.white {
		color: $white-color;

		accent-green {
			color: $green-accent-color;
		}
	}

	&.green {
		color: $green-color;
	}

	&.base {
		color: $base-88-color;
	}

	&.big {
		font-size: 72px;
		line-height: 48px;
		opacity: 0.78;
	}
}

h3 {
	font-size: 36px;
	line-height: 32px;
	font-family: $accent-font-family;
	font-weight: $thin;
	color: $black-88-color;
	text-transform: uppercase;

	&.small {
		font-size: 24px;
		line-height: 30px;
		opacity: 0.78;
	}

	&.big {
		font-size: 39px;
		line-height: 46px;
		padding-top: 4px;
	}

	green {
		color: $green-color;
	}

	&.underline {
		@extend %underline;
	}

	&.white {
		color: $white-color;
	}

	&.green {
		color: $green-color;
	}

	&.base {
		color: $base-88-color;
	}
}

h4 {
	font-size: 24px;
	line-height: 28px;
	font-family: $base-font-family;
	font-weight: $bold;
	color: #492917;

	&.big {
		font-size: 36px;
	}

	&.underline {
		@extend %underline;
	}

	&.white {
		color: $white-color;
	}

	&.green {
		color: $green-color;
	}

	> a:hover{
		text-decoration: none;
	}
}

h5 {
	font-size: 16px;
	font-family: $base-font-family;
	font-weight: $thin;
	color: $black-88-color;
	text-transform: uppercase;

	&.white {
		color: $white-color;
	}

	&.green {
		color: $green-color;
	}
}

p {
	line-height: 24px;

	&.white {
		color: $white-color;
	}
}

.small-line-height {
	line-height: 0.65em;
}

.text-block {
	display: block;
}

.center {
	text-align: center !important;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.italic {
	font-style: italic !important;
}

a {
	color: $brown-color;
	cursor: pointer;

	&.underline {
		text-decoration: underline;
	}
}

.info-text {
	p {
		color: $brown-color;
		font-size: 16px;
		line-height: 26px;
	}
}

.copyright {
	text-align:center;
	color: $brown-color;
	font-weight: $bold;
	padding-top: 20px;
	border-top: 1px solid $brown-color;
}

.sub-title {
	color: #5e5e5e;
	font-size: 16px;
	line-height: 16px;
	font-weight: $light;
}

.quotes {
	color:  $green-color;
	font-style:italic;
	font-size: 30px;
	line-height: 40px;
	font-weight: $light;

	&.sub {
		color: #383533;
		font-size: 30px;
		line-height: 36px;
		font-weight: $light;
	}
}

.size18 {
	font-size: 18px!important;
	line-height: 28px!important;
	font-weight: $light;
}


@media only screen and (max-width: 767px) {

	h1 {
	    font-size: 24px;

	    big {
			font-size: 66px;
			line-height: 60px;
		}
	}

	h2 {
		text-align: center;

		&.mobile {
			font-size: 36px;
			line-height: 26px;
		}

		&.big {
			font-size: 40px;
			line-height: 26px;
		}
	}

	h3 {
		text-align: center;
		font-size: 26px;


	}

	h4 {

	}

	h5 {

	}
}