/* Widgets
/* ========================================================================== */

.widget {

  text-align: left;

  .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
  }

  .form-control {
    -webkit-appearance: none;
    /* ios */
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid $black-44-color;
    color: $black-66-color;
    font-weight: $thin;

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
  }
  .form-control:focus {
    -webkit-appearance: none;
    /* ios */
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: $brand-dark-color;
  }

  .error-message {
    margin-bottom: 15px;
    margin-top: -10px;
    font-style: italic;
    display: none;

    .show {
      display: inline-block;
    }
  }
.has-icon .form-control {
  padding-right: 50px;
}
.dark .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.6);
}
.dark .form-control:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark .bootstrap-select .dropdown-menu .form-control {
  background: rgba(20, 24, 28, 0.2);
  border: 1px solid rgba(20, 24, 28, 0);
  color: rgba(20, 24, 28, 0.6);
}
.dark .bootstrap-select .dropdown-menu .form-control:focus {
  background: rgba(20, 24, 28, 0.1);
  border: 1px solid rgba(20, 24, 28, 0.2);
}
.light .form-control {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  color: #a5abb7;
}
.light .form-control:focus {
  border: 1px solid #a5abb7;
}
.form-control.alt {
  border-color: #f5f6f8;
  background-color: #f5f6f8;
  color: #6d7582;
}
.form-control.alt::-webkit-input-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt:-moz-placeholder {
  color: #333 !important;
}
.form-control::-moz-placeholder {
  color: $black-44-color;
}
.form-control.alt:-moz-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt::-moz-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt:-ms-input-placeholder {
  color: #6d7582 !important;
  font-weight: 400 !important;
  font-size: 14px;
  text-transform: none;
  line-height: 22px;
}
.form-control.alt:focus {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #14181c;
}
.form-control-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.has-label .form-control-icon {
  top: 28px;
}
.dark .form-control-icon {
  color: rgba(255, 255, 255, 0.6);
}
.dark .alt .form-control-icon {
  color: #ffffff;
}
.light .form-control-icon {
  color: rgba(20, 24, 28, 0.6);
}
.form-group.has-icon {
  position: relative;
}
textarea {
  resize: none;
}
.bootstrap-select .dropdown-menu {
  border-radius: 0;
}
.bootstrap-select .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bootstrap-select > .selectpicker {
  -webkit-appearance: none;
  /* ios */
  -webkit-box-shadow: none;
  box-shadow: none !important;
  height: 40px;
  border-radius: 0;
  background-color: transparent !important;
  color: #5c5c5c !important;
}
.bootstrap-select > .selectpicker:focus {
  border-color: #14181c;
}
.bootstrap-select-searchbox .form-control {
  border-radius: 0;
}
.has-icon .bootstrap-select.btn-group .btn .caret {
  display: none;
}
.alert {
  border-radius: 0;
}
label {
  font-size: 14px;
  color: #14181c;
}
.dark label {
  color: #ffffff;
}
.light label {
  color: #14181c;
}
input[type=checkbox] {
  margin-top: 2px;
  margin-right: 5px;
}
}
.widget-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: $bold;
  line-height: 20px;
  text-transform: uppercase;
  color: #7f7f7f;
  overflow: hidden;
}
.widget-title-sub {
  margin: 0 0 20px 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: dashed 1px #ececec;
  color: #6e757f;
}
.widget.shadow {
  background-color: #ffffff;
  border: solid 1px #f0f0f0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.widget.shadow .widget-title {
  padding: 13px 20px;
  margin: 0;
  background-color: #f5f6f8;
  color: #6c7481;
}
.widget.shadow .widget-title-sub {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.widget.shadow .widget-content {
  padding: 10px;
}

/* Widget colors
/* ========================================================================== */
.widget.widget-colors {
  border: solid 3px rgba(20, 24, 28, 0.1);
}
.widget.widget-colors .widget-title {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.widget.widget-colors .widget-content {
  border-top: solid 1px rgba(20, 24, 28, 0.1);
  padding: 10px 15px;
}
.widget.widget-colors ul {
  overflow: hidden;
  margin-top: -7px;
}
.widget.widget-colors ul li {
  float: left;
  margin: 7px 7px 0 0;
}
.widget.widget-colors ul li a {
  display: block;
  width: 35px;
  height: 35px;
  border: solid 3px rgba(20, 24, 28, 0.1);
  padding: 3px;
}
.widget.widget-colors ul li a span {
  display: block;
  width: 23px;
  height: 23px;
}
.widget.widget-colors ul li a:hover {
  border-color: #14181c;
}
/* Widget filter price
/* ========================================================================== */
.widget.widget-filter-price .widget-content {
  border-top: solid 1px rgba(20, 24, 28, 0.1);
  padding: 20px 15px;
  overflow: hidden;
}
.widget.widget-filter-price #slider-range {
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 0;
  border: none;
  background-color: #e9e9e9;
  background-image: none;
  height: 6px;
}
.widget.widget-filter-price #slider-range .ui-widget-header {
  background-color: #e60000;
  background-image: none;
  height: 4px;
}
.widget.widget-filter-price #slider-range .ui-slider-handle {
  background-image: none;
  background-color: #14181c;
  border: solid 3px #14181c;
  border-radius: 0;
  width: 8px;
  height: 15px;
  margin-left: 0;
}
.widget.widget-filter-price #amount {
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: #7f7f7f;
  width: 120px;
  line-height: 33px;
}
.widget.widget-filter-price .btn-theme,
.widget.widget-filter-price .btn-theme:focus,
.widget.widget-filter-price .btn-theme:active {
  float: left;
}
.widget.widget-filter-price .btn-submit {
  margin-top: 10px;
}
.widget.widget-find-car {

  .form-inline {
    .form-group {
      margin-right: 20px;
    }

    .form-control {
      width: 126px;
      height: 30px;

      &.one-third {
        width: 305px;
        height: 40px;
      }
    }
  }

  .btn-submit {
    margin-top: 20px;
  }
}
.widget.widget-find-car .btn-theme-dark,
.widget.widget-find-car .btn-theme-dark:focus,
.widget.widget-find-car .btn-theme-dark:active {
  background-color: #14181c;
  border-color: #14181c;
  color: #ffffff;
}
.widget.widget-find-car .btn-theme-dark:hover {
  background-color: #e60000;
  border-color: #e60000;
  color: #ffffff;
}
/* Widget shop deals
/* ========================================================================== */
.widget.widget-shop-deals .countdown-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.widget.widget-shop-deals .defaultCountdown {
  background-color: transparent;
  border-color: transparent;
  border: none;
  width: 100%;
}
.widget.widget-shop-deals .countdown-row {
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.widget.widget-shop-deals .countdown-section {
  background-color: rgba(0, 0, 0, 0.5);
}
.widget.widget-shop-deals .countdown-show4 .countdown-section {
  padding-top: 8px;
  padding-bottom: 9px;
  width: 25% !important;
}
.widget.widget-shop-deals .countdown-amount {
  margin: 0 0 0 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #e60000;
}
.widget.widget-shop-deals .countdown-period {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #d3d3d3;
  clear: both;
  margin: 0 0 0 0;
  display: block;
  position: relative;
  overflow: hidden;
}
/* Widget tabs
/* ========================================================================== */
.widget.widget-tabs .nav-justified {
  border: solid 3px rgba(20, 24, 28, 0.1);
}
.widget.widget-tabs .nav-justified > li > a {
  color: #14181c;
  background-color: transparent;
  margin: -3px;
  font-size: 14px;
  font-weight: 700;
  padding-left: 7px;
  padding-right: 7px;
  text-transform: uppercase;
}
.widget.widget-tabs .nav-justified > li.active > a,
.widget.widget-tabs .nav-justified > li > a:hover,
.widget.widget-tabs .nav-justified > li > a:focus {
  border-color: #e60000;
  background-color: #e60000;
  color: #ffffff;
}
.widget.widget-tabs .tab-content {
  margin-top: 20px;
  overflow: hidden;
}
.widget.widget-tabs .tab-content + .btn-block {
  margin: 20px auto 0 auto;
}
.widget.widget-tabs.alt .nav-justified {
  border: none;
}
@media (min-width: 768px) {
  .widget.widget-tabs.alt .nav-justified > li + li {
    border-left: solid 1px transparent;
  }
}
.widget.widget-tabs.alt .nav-justified > li > a {
  color: #ffffff;
  background-color: #a5abb7;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
}
.widget.widget-tabs.alt .nav-justified > li.active > a,
.widget.widget-tabs.alt .nav-justified > li > a:hover,
.widget.widget-tabs.alt .nav-justified > li > a:focus {
  border-color: #14181c;
  background-color: #14181c;
  color: #ffffff;
}
@media (min-width: 768px) {
  .widget.widget-tabs.alt .nav-justified > li.active > a {
    position: relative;
  }
  .widget.widget-tabs.alt .nav-justified > li.active > a:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    border-top: solid 5px #e60000;
  }
}
.widget.widget-tabs.alt .tab-content {
  margin-top: 20px;
  overflow: hidden;
}
.widget.widget-tabs.alt .tab-content + .btn-block {
  margin: 20px auto 0 auto;
}
/* Widget search
/* ========================================================================== */
.widget-search {
  max-width: 100%;
  position: relative;
}
.widget-search .form-control {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.widget-search button {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: #ffffff;
  border: none;
  padding: 2px 8px;
  line-height: 30px;
  font-size: 16px;
  color: #14181c;
}
.widget-search button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -34px;
  width: 34px;
  height: 34px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
/* Widget categories
/* ========================================================================== */
.widget-categories ul li + li {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.widget-categories ul li a {
  display: block;
  padding: 5px 0 5px 20px;
  position: relative;
}
.widget-categories ul li a:before {
  content: '\f0a9';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 5px;
}
.widget-categories ul li a:hover:before {
  -webkit-animation: bounceIn .4s;
  animation: bounceIn .4s;
}
/* Widget tabs
/* ========================================================================== */
.widget.car-categories .widget-content {
  border-top: solid 1px rgba(20, 24, 28, 0.1);
  padding: 20px 15px;
}
.widget.car-categories ul {
  margin: -10px -15px -10px -15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}
.widget.car-categories ul li {
  padding: 10px 15px;
  overflow: hidden;
}
.widget.car-categories ul li + li {
  border-top: solid 1px rgba(20, 24, 28, 0.1);
}
.widget.car-categories ul a {
  display: block;
  margin-right: 20px;
  color: #14181c;
}
.widget.car-categories ul a:hover {
  color: #e60000;
}
.widget.car-categories ul a .count {
  float: right;
  text-align: right;
  font-size: 12px;
  margin-right: 2px;
}
.widget.car-categories ul ul.children {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: none;
  margin-top: 5px;
  padding-left: 30px;
}
.widget.car-categories ul ul.children li {
  padding: 7px 15px 7px 0;
}
.widget.car-categories ul ul.children a {
  margin-right: 0;
}
.widget.car-categories ul .count {
  float: right;
  font-size: 12px;
  margin-right: 2px;
}
.widget.car-categories ul .arrow {
  float: right;
  border: solid 1px #14181c;
  color: #14181c;
  width: 17px;
  height: 17px;
  cursor: pointer;
  text-align: center;
}
.widget.car-categories ul .arrow .fa {
  font-size: 17px;
  line-height: 14px;
}
/* Widget Details Reservation
/* ========================================================================== */
.widget.widget-details-reservation .widget-content {
  padding-top: 0;
}
.widget.widget-details-reservation .media .media-object {
  font-size: 14px;
}
.widget.widget-details-reservation .media .media-object .fa {
  font-size: 13px;
  vertical-align: top;
  margin-top: 5px;
}
.widget.widget-details-reservation .media + .media {
  margin-top: 0;
}
.widget.widget-details-reservation .widget-title-sub {
  padding-top: 30px;
}
.widget.widget-details-reservation .button {
  margin-top: 40px;
}
/* Widget Helping Center
/* ========================================================================== */
.widget.widget-helping-center .widget-title-sub {
  border-top: dashed 1px #ececec;
  font-size: 24px;
  font-weight: 400;
}
.widget.widget-helping-center a:not(.btn) {
  color: #7f7f7f;
}
.widget.widget-helping-center a:not(.btn):hover {
  color: #3c3c3c;
}
.helping-center-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #f5f6f8;
}
.helping-center-line h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: $bold;
  text-transform: uppercase;
  color: #6d737f;
  float: left;
  margin-top: 15px;
}
.helping-center-line span {
  display: inline-block;
  font-size: 20px;
  margin-top: 5px;
}
.helping-center-line .btn-theme {
  float: right;
}
/* Widget tag cloud
/* ========================================================================== */
.widget-tag-cloud ul {
  overflow: hidden;
  margin-top: -7px;
}
.widget-tag-cloud ul li {
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}
.widget-tag-cloud ul li a {
  display: block;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 22px;
  color: #14181c;
  border: solid 3px rgba(20, 24, 28, 0.1);
}
.widget-tag-cloud ul li a:hover {
  color: #ffffff;
  background-color: #14181c;
  border-color: #14181c;
}
/* flickr feed
/* ========================================================================== */
.widget-flickr-feed ul {
  overflow: hidden;
  margin-left: -10px;
  margin-bottom: -10px;
}
.widget-flickr-feed ul li {
  float: left;
  margin: 0 0 10px 10px;
}
.widget-flickr-feed ul a {
  display: block;
  border: solid 3px rgba(20, 24, 28, 0.1);
  overflow: hidden;
  position: relative;
}
.widget-flickr-feed ul a:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}
.widget-flickr-feed ul a:after {
  content: '\f002';
  font-size: 14px;
  font-family: 'FontAwesome';
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -9px;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.widget-flickr-feed ul a:hover {
  border-color: #e60000;
}
.widget-flickr-feed ul a:hover:before {
  background-color: rgba(230, 0, 0, 0.7);
}
.widget-flickr-feed ul a:hover:after {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.widget-flickr-feed ul a img {
  width: 74px;
  height: auto;
}
@media (max-width: 1199px) {
  .widget-flickr-feed ul a img {
    width: 58px;
  }
}
@media (max-width: 991px) {
  .widget-flickr-feed ul a img {
    width: 70px;
  }
}
@media (max-width: 767px) {
  .widget-flickr-feed ul a img {
    width: 70px;
  }
}

.widget {

  

  .form-search {
    .form-group {
      width: 45%;
      display: inline-block;
    }
  }

  .form-inline {
    .checkbox {
      text-align: center;
      padding: 0 5px;

      img {
        width: 90px;
        display: block;
      }
      label {
        display: block;
      }
    }
  }
}