// Base colors
$base-color: #54585a;
$base-10-color: rgba($base-color, 0.1);
$base-22-color: rgba($base-color, 0.22);
$base-44-color: rgba($base-color, 0.44);
$base-66-color: rgba($base-color, 0.66);
$base-88-color: rgba($base-color, 0.88);

$base-dark-color: #323638;
$base-dark-10-color: rgba($base-dark-color, 0.1);
$base-dark-22-color: rgba($base-dark-color, 0.22);
$base-dark-44-color: rgba($base-dark-color, 0.44);
$base-dark-66-color: rgba($base-dark-color, 0.66);
$base-dark-88-color: rgba($base-dark-color, 0.88);

$accent-color: #4a8c77;
$accent-10-color: rgba($accent-color, 0.1);
$accent-22-color: rgba($accent-color, 0.22);
$accent-44-color: rgba($accent-color, 0.44);
$accent-66-color: rgba($accent-color, 0.66);
$accent-88-color: rgba($accent-color, 0.88);

$accent-dark-color: #323638;
$accent-dark-10-color: rgba($accent-dark-color, 0.1);
$accent-dark-22-color: rgba($accent-dark-color, 0.22);
$accent-dark-44-color: rgba($accent-dark-color, 0.44);
$accent-dark-66-color: rgba($accent-dark-color, 0.66);
$accent-dark-88-color: rgba($accent-dark-color, 0.88);

$brand-color: #4a8c77;
$brand-10-color: rgba($brand-color, 0.1);
$brand-22-color: rgba($brand-color, 0.22);
$brand-44-color: rgba($brand-color, 0.44);
$brand-66-color: rgba($brand-color, 0.66);
$brand-88-color: rgba($brand-color, 0.88);

$brand-dark-color: #323638;
$brand-dark-10-color: rgba($brand-dark-color, 0.1);
$brand-dark-22-color: rgba($brand-dark-color, 0.22);
$brand-dark-44-color: rgba($brand-dark-color, 0.44);
$brand-dark-66-color: rgba($brand-dark-color, 0.66);
$brand-dark-88-color: rgba($brand-dark-color, 0.88);

$brown-color: #724a2a;
$brown-10-color: rgba($brown-color, 0.1);
$brown-22-color: rgba($brown-color, 0.22);
$brown-44-color: rgba($brown-color, 0.44);
$brown-66-color: rgba($brown-color, 0.66);
$brown-88-color: rgba($brown-color, 0.88);

$brown-dark-color: #d46b0c;
$brown-dark-10-color: rgba($brown-dark-color, 0.1);
$brown-dark-22-color: rgba($brown-dark-color, 0.22);
$brown-dark-44-color: rgba($brown-dark-color, 0.44);
$brown-dark-66-color: rgba($brown-dark-color, 0.66);
$brown-dark-88-color: rgba($brown-dark-color, 0.88);

$green-color: #4a8c77;
$green-10-color: rgba($green-color, 0.1);
$green-22-color: rgba($green-color, 0.22);
$green-44-color: rgba($green-color, 0.44);
$green-66-color: rgba($green-color, 0.66);
$green-88-color: rgba($green-color, 0.88);

$green-dark-color: #397b66;
$green-dark-10-color: rgba($green-dark-color, 0.1);
$green-dark-22-color: rgba($green-dark-color, 0.22);
$green-dark-44-color: rgba($green-dark-color, 0.44);
$green-dark-66-color: rgba($green-dark-color, 0.66);
$green-dark-88-color: rgba($green-dark-color, 0.88);

$green-accent-color: #274a3f;
$green-accent-10-color: rgba($green-accent-color, 0.1);
$green-accent-10-color: rgba($green-accent-color, 0.1);
$green-accent-22-color: rgba($green-accent-color, 0.22);
$green-accent-44-color: rgba($green-accent-color, 0.44);
$green-accent-66-color: rgba($green-accent-color, 0.66);
$green-accent-88-color: rgba($green-accent-color, 0.88);

$white-color: #fff;
$white-10-color: rgba($white-color, 0.1);
$white-22-color: rgba($white-color, 0.22);
$white-44-color: rgba($white-color, 0.44);
$white-66-color: rgba($white-color, 0.66);
$white-88-color: rgba($white-color, 0.88);

$black-color: #000;
$black-10-color: rgba($black-color, 0.1);
$black-22-color: rgba($black-color, 0.22);
$black-44-color: rgba($black-color, 0.44);
$black-66-color: rgba($black-color, 0.66);
$black-88-color: rgba($black-color, 0.88);

$grey-color: #bbb;
$grey-10-color: rgba($grey-color, 0.1);
$grey-22-color: rgba($grey-color, 0.22);
$grey-44-color: rgba($grey-color, 0.44);
$grey-66-color: rgba($grey-color, 0.66);
$grey-88-color: rgba($grey-color, 0.88);

$background-color: #f9f9f9;

$coconut-color: #46a199;
$coconut-10-color: rgba($coconut-color, 0.1);
$coconut-22-color: rgba($coconut-color, 0.22);
$coconut-44-color: rgba($coconut-color, 0.44);
$coconut-66-color: rgba($coconut-color, 0.66);
$coconut-88-color: rgba($coconut-color, 0.88);

$coconut-dark-color: #359088;
$coconut-dark-10-color: rgba($coconut-dark-color, 0.1);
$coconut-dark-22-color: rgba($coconut-dark-color, 0.22);
$coconut-dark-44-color: rgba($coconut-dark-color, 0.44);
$coconut-dark-66-color: rgba($coconut-dark-color, 0.66);
$coconut-dark-88-color: rgba($coconut-dark-color, 0.88);

$apple-color: #729034;
$apple-10-color: rgba($apple-color, 0.1);
$apple-22-color: rgba($apple-color, 0.22);
$apple-44-color: rgba($apple-color, 0.44);
$apple-66-color: rgba($apple-color, 0.66);
$apple-88-color: rgba($apple-color, 0.88);

$apple-dark-color: #618023;
$apple-dark-10-color: rgba($apple-dark-color, 0.1);
$apple-dark-22-color: rgba($apple-dark-color, 0.22);
$apple-dark-44-color: rgba($apple-dark-color, 0.44);
$apple-dark-66-color: rgba($apple-dark-color, 0.66);
$apple-dark-88-color: rgba($apple-dark-color, 0.88);

$plum-color: #7e1648;
$plum-10-color: rgba($plum-color, 0.1);
$plum-22-color: rgba($plum-color, 0.22);
$plum-44-color: rgba($plum-color, 0.44);
$plum-66-color: rgba($plum-color, 0.66);
$plum-88-color: rgba($plum-color, 0.88);

$plum-dark-color: #6d0537;
$plum-dark-10-color: rgba($plum-dark-color, 0.1);
$plum-dark-22-color: rgba($plum-dark-color, 0.22);
$plum-dark-44-color: rgba($plum-dark-color, 0.44);
$plum-dark-66-color: rgba($plum-dark-color, 0.66);
$plum-dark-88-color: rgba($plum-dark-color, 0.88);

$maca-color: #e5ae27;
$maca-10-color: rgba($maca-color, 0.1);
$maca-22-color: rgba($maca-color, 0.22);
$maca-44-color: rgba($maca-color, 0.44);
$maca-66-color: rgba($maca-color, 0.66);
$maca-88-color: rgba($maca-color, 0.88);

$maca-dark-color: #d49d16;
$maca-dark-10-color: rgba($maca-dark-color, 0.1);
$maca-dark-22-color: rgba($maca-dark-color, 0.22);
$maca-dark-44-color: rgba($maca-dark-color, 0.44);
$maca-dark-66-color: rgba($maca-dark-color, 0.66);
$maca-dark-88-color: rgba($maca-dark-color, 0.88);

$chia-color: #ee8444;
$chia-10-color: rgba($chia-color, 0.1);
$chia-22-color: rgba($chia-color, 0.22);
$chia-44-color: rgba($chia-color, 0.44);
$chia-66-color: rgba($chia-color, 0.66);
$chia-88-color: rgba($chia-color, 0.88);

$chia-dark-color: #dd7333;
$chia-dark-10-color: rgba($chia-dark-color, 0.1);
$chia-dark-22-color: rgba($chia-dark-color, 0.22);
$chia-dark-44-color: rgba($chia-dark-color, 0.44);
$chia-dark-66-color: rgba($chia-dark-color, 0.66);
$chia-dark-88-color: rgba($chia-dark-color, 0.88);

$acerola-color: #c12326;
$acerola-10-color: rgba($acerola-color, 0.1);
$acerola-22-color: rgba($acerola-color, 0.22);
$acerola-44-color: rgba($acerola-color, 0.44);
$acerola-66-color: rgba($acerola-color, 0.66);
$acerola-88-color: rgba($acerola-color, 0.88);

$acerola-dark-color: #b01215;
$acerola-dark-10-color: rgba($acerola-dark-color, 0.1);
$acerola-dark-22-color: rgba($acerola-dark-color, 0.22);
$acerola-dark-44-color: rgba($acerola-dark-color, 0.44);
$acerola-dark-66-color: rgba($acerola-dark-color, 0.66);
$acerola-dark-88-color: rgba($acerola-dark-color, 0.88);